
<div class = "container">
    <div class ="jumbotron redmeup">
        <h1>Select Category</h1>
        <div class = "container phonebox"> <!--maybe change this ngFor later-->
            <div class = "row">
                <div class = 'col-md-6'>
                    <div class = "row">
                        <button class = 'btn btn-primary btn-success' data-index = '1' (click)="getCategoryQuotes(1)">Jokes</button>
                    </div>
                    <div class = "row">
                        <button class = 'btn btn-primary btn-success' data-index = '2' (click)="getCategoryQuotes(2)">Wisdom</button>
                    </div>
                    <div class = "row">
                        <button class = 'btn btn-primary btn-success' data-index = '3' (click)="getCategoryQuotes(3)">Motivational</button>
                    </div>
                    <div class = "row">
                        <button class = 'btn btn-primary btn-danger' data-index = '4' (click)="getCategoryQuotes(4)">Humble Me</button>
                    </div>

                </div>
                <div class = 'col-md-6'>
                    <div class = "container replybox" *ngIf="messageOn">
                        <p class = 'ootpoot'>{{selectedQuote.quote}}</p>
                    </div>

                </div>
            </div>

            
        </div>
    </div>
</div>