.redmeup{
    background-color: #cc0000;
    opacity: 0.8;
    margin-top: 15%;
}

.phonebox{
    background-color: white;
    opacity: 1 !important;
}

.categorybox{
    background-color: greenyellow;
}